<p>Здравствуйте</p>
<p>Пользователь <%= raw link_to @follower.correct_naming, "#{Rails.application.routes.default_url_options[:host]}/#users/#{@follower.id}", target: '_blank' %> подписался на ваши обновления</p>