development:
  # Configure available database sessions. (required)
  sessions:
    default:
      database: recipe_me_development
      hosts:
        - localhost:27017
test:
  sessions:
    default:
      database: recipe_me_test
      hosts:
        - localhost:27017
      options:
        read: primary
        max_retries: 1
        retry_interval: 0
