<p>Здравствуйте!</p>

<p>Пользователь <%= raw link_to @comment_author.correct_naming, "#{Rails.application.routes.default_url_options[:host]}/#users/#{@comment_author.id}", target: '_blank' %>
добавил комментарий к <%= raw link_to "вашей", "#{Rails.application.routes.default_url_options[:host]}/#recipes/#{@recipe.id}", target: '_blank' %> записи:</p>
<p class="comment-text">
  <%= @comment.text.html_safe %>
</p>