.feed-item{
  .user-block{
    &>div{
      display: inline-block;
    }
    margin-bottom: 90px;

    .user-image{
      float:left;

      img{
        border: 2px solid #ccc;
      }
    }
    .user-feed-info{
      width: 80%;
      .title-date{
        border-bottom: 3px solid #ddd;

        span{
          display: block;
          float: right;
        }
      }
    }
    .feed-body{
      width: 80%;
      .recipe-feed-item{
        padding: 10px;
        border: 1px solid #BBBBBB;
        border-radius: 4px;
        height: 115px;
        .feed-recipe-image{
          float:left;
        }
        .feed-recipe-info{
          float: left;
          margin-left: 30px;
          .tags{
            margin-top: 30px;
            .tag-data{
              background-color: #5bc0de;
              padding: 5px;
              border-radius: 8px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}