.feed-item{
  .user-block{
    &>div{
      display: inline-block;
    }
    margin-bottom: 90px;

    .user-image{
      float:left;

      img{
        border: 2px solid #ccc;
      }
    }
    .user-feed-info{
      width: 80%;
      .title-date{
        border-bottom: 3px solid #ddd;

        span{
          display: block;
          float: right;
        }
      }
    }
    .feed-body{
      width: 80%;
      .comment-feed-item{
        .link-to-recipe{
          .feed-action{
            height: 30px;
            margin-right: 10px;
          }
        }
        .comment-text{
          border: 1px solid #ccc;
          position: relative;
          border-radius: 4px;
          padding: 10px;
        }
      }
      .recipe-feed-item{
        padding: 10px;
        position: relative;
        border: 1px solid #BBBBBB;
        border-radius: 4px;
        &>div{
          display: inline-block;
        }
        .feed-action{
          position: absolute;
          top: 0;
          left: 0px;
          height: 55px;
          width: 55px;
        }
        .feed-recipe-image{
        }
        .feed-recipe-info{
          margin-left: 30px;
          .tags{
            margin-top: 30px;
            .tag-data{
              background-color: #5bc0de;
              padding: 5px;
              border-radius: 8px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}