.app-header{
  background-color: #39b3d7;
  position: fixed;
  height: 70px;
  width: 100%;
  padding:10px;
  top: 0px;
  z-index: 10000;
  .menu-item{
    float: left;
  }
  .logo{
    margin-left:20px;
  }
  &>div{
    display: inline-block;
  }
  .auth-buttons{
    float: right;
    position: absolute;
    right: 50px;

    &>div{
      display: inline-block;
    }
  }
  .current-user-info{
    float: right;
    position: absolute;
    right: 50px;

    &>div{
      display: inline-block;
    }
  }
  &.menu-active{
    position: fixed;
    width: 100%;
    z-index:100;
  }
}