.ingridients-title{
  &>* {
    display: inline-block;
  }
}
.ingridient-item{
  margin-top: 10px;
}
.ingridient-popup{
  background-color: #d7d7d7;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0px 0px 6px 6px;
  position: absolute;
  z-index: 1000;
  height: 100px;
  overflow-y: scroll;
  width: 90%;
}
.ingridients-block{
  .ingridients-list-title{
    font-size: 17px;
    font-style: italic;
  }
  .ingridient-block{
    margin-bottom: 5px;
    a{
      font-style: italic;
     border-bottom: 1px solid #666666;
    }
    a:hover{
      text-decoration: none;
    }
  }
}