.error{
  border: 1px solid #ff0000 !important;
}
.error-text{
  color: #ff0000;
}
.nickname{
  a {
    color: #fff;
  }
}
#wrapper{
  .mask{
    background-color: #000;
    height:100%;
    width:100%;
    top:0px;
    opacity: 0.65;
    position: fixed;
  }
}