#navigationMenu{
  position: fixed;
  height: 100%;
  background-color: #67b5d1;
  z-index: 100000;
  display:none;
  top: 0px;
  width: 0px;
  ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    li{
      text-align: left;
      border-bottom: solid 1px #3184a1;
      border-top: solid 1px #b5dbe9;
      a{
        font-weight: 300;
        color: #fff;
        display: block;
        padding: 10px;
        font-size: 18px;
        text-decoration: none;
        img{
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
.user_block{
  &>div{
    padding: 10px;
    display: inline-block;
  }
  .user-avatar{
    float: left;
  }
  .user-short-info{
    .user-name{
      *{
        display: block;
      }
    }
    .user-online{
      font-size: 11px;
      *{
        display:block;
      }
    }
  }
}
.followers-block{
  padding: 10px;
  .title{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
  }
  .followers-list{
    a{
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 15px;
      text-align: center;
      span{
        font-size: 10px;
        display: block;
      }
    }
  }
}
.following-block{
  padding: 10px;
  .title{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
  }
  .following-list{
    a{
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 15px;
      text-align: center;
      span{
        font-size: 10px;
        display: block;
      }
    }
  }
}
.user-list-item{
  display: inline-block;
}