.recipes_list{
  list-style: none;
  display: inline-block;
  li{
    border: 1px solid #ddd;
    padding: 17px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
  }
  .recipe-list-item{
    position: relative;
    .title{
      text-align: center;
    }
    &:hover{
      .recipe-item-actions {
        top: 0px;
        margin-top: 10px;
        margin-left: 15px;
        position: absolute;
        display: block !important;
        visibility: visible !important;
      }
    }
  }
}
.description{
  img{
    height: 200px;
    width: 200px;
  }
}
.main-content.container{
  margin-top: 85px;
}
.logo{
  a {
    color: #ffffff;
    font-size: 24px;
  }
}
.image-placeholder {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  img{
    border-radius: 8px;
  }
  &.empty{
    border: 2px dotted #000000;
    background-image: url("/images/plus24.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  &.entered{
    opacity: 0.3;
  }
  &.hover{
    background-color: red;
  }
}
.tags-list{
  .tag-data{
    background-color: #5bc0de;
    padding: 5px;
    border-radius: 8px;
    color: #ffffff;
  }
}
.recipe-data{
  &>div{
    margin-top: 10px;
  }
}
.actions-background{
  background-color: #000;
  opacity: 0.3;
  position: absolute;
  top: 0px;
}
.recipe-info{
  .info-item{
    span{
      margin-left: 5px;
    }
  }
}
.info-action{
  .action-icon{
    float: left;
  }
  .action-value{
    font-size: 25px;
    margin-left: 5px;
  }
}
.popup-view{
  background-color: #2E2F30;
  height: 250px;
  width:200px;
  position: absolute;
  z-index: 100000;
  .liked-item{
    display: inline-block;
    margin-left: 5px;
  }
}
.recipe-show{
  fieldset{
    legend{
      .info-block{
        float: right;
        font-size: 13px;
        margin-top: 10px;
        .date{
          font-style: italic;
        }
      }
    }
  }
}