.recipes_list{
  list-style: none;
  li{
    border: 1px solid #ddd;
    padding: 17px;
    margin-left: 20px;
    margin-bottom: 20px;
    float: left;
  }
  .recipe-list-item{
    position: relative;
    .title{
      text-align: center;
    }
    &:hover{
      .recipe-item-actions {
        top: 0px;
        margin-top: 10px;
        margin-left: 15px;
        position: absolute;
        display: block !important;
        visibility: visible !important;
      }
    }
  }
}
.description{
  img{
    height: 200px;
    width: 200px;
  }
}
.main-content.container{
  margin-top: 85px;
}
.logo{
  a {
    color: #ffffff;
    font-size: 24px;
  }
}
.image-placeholder {
  height: 200px;
  width: 200px;
  border-radius: 8px;
  img{
    border-radius: 8px;
  }
  &.empty{
    border: 2px dotted #000000;
    background-image: url("/images/plus24.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  &.entered{
    opacity: 0.3;
  }
  &.hover{
    background-color: red;
  }
}