.step-block{
  float: left;
  width: 100%;
  margin-top: 10px;
  textarea{
    resize: none;
    height: 70px;
    width: 300px;

  }
  &>div{
    display: inline-block;
    float: left;
  }
  .step-image {
    margin-left: 25px;
    .step-placeholder {
      height: 70px;
      width: 100px;
      border-radius: 8px;
      &.empty {
        border: 2px dotted #000000;
        background-image: url("/images/plus24.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }
      &.entered {
        opacity: 0.3;
      }
    }
  }
  .step-actions{
    margin-left:10px;
  }
}
.steps-title{
  &>div{
    display: inline-block;
  }
  &>p{
    display: inline-block;
  }
}