.step-block{
  float: left;
  textarea{
    resize: none;
    height: 100px;
    width: 300px;

  }
  &>div{
    display: inline-block;
    float: left;
  }
  .step-image {
    margin-left: 25px;
    .step-placeholder {
      height: 100px;
      width: 100px;
      &.empty {
        border: 2px dotted #000000;
        background-image: url("/images/plus24.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
      }
      &.entered {
        opacity: 0.3;
      }
    }
  }
}