.step-block{
  float: left;
  width: 100%;
  margin-top: 10px;
  textarea{
    resize: none;
    height: 70px;
    width: 300px;

  }
  &>div{
    display: inline-block;
    float: left;
  }
  div.step-image {
    margin-left: 25px;
    position: relative;
    .step-placeholder {
      height: 70px;
      width: 100px;
      border-radius: 8px;
      cursor: pointer;
      &.hover{
        opacity: 0.3;
      }
      img{
        border-radius: 8px;
      }
      .download-image{}
      &.empty {
        border: 2px dotted #000000;
        background-image: url("/images/plus24.png");
        background-size: 30px 30px;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.entered {
        opacity: 0.3;
      }
    }
  }
  .step-actions{
    margin-left:10px;
  }
}
.steps-title{
  &>div{
    display: inline-block;
  }
  &>p{
    display: inline-block;
  }
}
.recipe-step {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding:10px;
  min-height: 120px;
  margin-top: 20px;
  &>div{
    display: inline-block;
  }
  .description{
    width:100%;
    img{
      height:100px;
      width:100px;
    }
  }
  .step-image{
    float: right;
  }
}