#user_form{
  .avatar-placeholder{
    img{
      border: 4px solid #ccc;
      border-radius: 10px;
    }
  }
}
.user-recipes-title{

    text-align: center;
}
.user-main-image{
  text-align: center;
}
.user_profile{
  legend{
    * {
      display: inline;
    }
    a.edit-profile{
      float:right;
    }
  }
}
.profile-recipe{
  padding: 10px;
  float: left;
}
.users-list{
  .user-list-item{
    margin-right :50px;
    &:hover{
      border: 1px solid #ccc;
      border-radius:8px;
    }
    img{
      display: block;
    }
    span{
      text-align: center;
      display: block;
    }
  }
}